Source: screen-save
Section: admin
Priority: optional
Maintainer: Simon Walz <contact@simonwalz.de>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.8

Package: screen-save
Priority: optional
Section: admin
Architecture: all
Depends: screen
Description: A tool to make screen sessions persistent = survive system reboot.
 .
 This package is an optional module to complete screen feature
 .
 More information at https://github.com/simonwalz/screen-save
