#!/usr/bin/make -f
#export DH_VERBOSE = 1

override_dh_installsystemd:
	dh_installsystemd --name=screen-save-autostart
	dh_installsystemd --name=screen-save-all
	dh_installsystemd --name=screen-save-all-shutdown

%:
	dh $@
